@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&family=Source+Code+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");


html > body {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.title-container {
  align-self: center;
  font-size: 2em;
  text-shadow: 1px 1px 3px white;
  background-color: #010409;
  color: #FFFFFF;
}

.tags {
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-family: arial, sans-serif;
  border-radius: 20px 20px;
}

.tags h2 {
  font-size: 2.0em;
  color: #FFFFFF;
  padding: 20px 0;  
}

.tags-list {
  font-size: 1.3em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.tags-list li {
  padding: 8px;
  border-bottom: 1px solid #8A2BE2;
  display:flex;
  flex-direction: column;
}

.tags-list a {
  color: #FFFFFF;
}

.tag-name {
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
}

.tag-name span {
  visibility: hidden;
}

.tag-description {
  color: #969696;
  padding: 0 25px;
  width:fit-content;
}

.tags-list li:hover{
  background-color: #303030;
}

.tags-list li:hover a {
  display: block; 
  color: white/*#c3c3c3 #D5014F*/;
}

.tags-list li:hover .tag-name span {
  color: #8A2BE2;
  visibility: visible;
}
.tags-list li:hover .tag-description{
  color:white

}
.tags-list li:nth-last-child(-n+1) {
  border: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 480px) {
  .title-container {
    display: none;
  }
  .tag-name {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    padding: 1em 0;
  }
  .tag-description {
    padding: 1em;
    font-size: 1.1em;
  }

  .tags h2 {
    display: none;
    align-self: center;
    font-size: 2.3em;
  }
}